aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
altair==6.0.0
attrs==25.4.0
blinker==1.9.0
cachetools==6.2.6
certifi==2026.1.4
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
click==8.3.1
colorama==0.4.6
contourpy @ file:///D:/bld/bld/rattler-build_contourpy_1769155974/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1771219220901/work
fonttools @ file:///D:/bld/fonttools_1765632545629/work
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
frozenlist==1.8.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1770387778895/work
gitdb==4.0.12
GitPython==3.1.46
greenlet @ file:///D:/bld/bld/rattler-build_greenlet_1770077513/work
idna==3.11
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1762488752/work
MarkupSafe @ file:///D:/bld/markupsafe_1759055179018/work
matplotlib==3.10.8
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
multidict==6.7.1
munkres==1.1.4
narwhals==2.16.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
numpy @ file:///D:/bld/bld/rattler-build_numpy_1770098404/work/dist/numpy-2.4.2-cp311-cp311-win_amd64.whl#sha256=1dc64abcea7678d915a259496c0283ff327afeed3b11d508be6117caf2623ad7
optree @ file:///D:/bld/optree_1763124260382/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas==2.3.3
pillow @ file:///D:/bld/bld/rattler-build_pillow_1770794018/work
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
pyarrow==23.0.1
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///D:/bld/bld/rattler-build_pybind11-global_1755953378/work
pycairo==1.29.0
pydeck==0.9.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz==2025.2
rdkit @ file:///D:/bld/rdkit-meta_1770016770395/work
referencing==0.37.0
reportlab @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_reportlab_1771171345/work
requests==2.32.5
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1756864152814/work
rpds-py==0.30.0
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
SQLAlchemy @ file:///D:/bld/bld/rattler-build_sqlalchemy_1769087099/work
streamlit==1.54.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946057943/work
tenacity==9.1.4
threadpoolctl==3.6.0
toml==0.10.2
torch @ file:///C:/bld/libtorch_1770197081624/work
torch-geometric==2.7.0
tornado==6.5.4
tqdm==4.67.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
unicodedata2 @ file:///D:/bld/unicodedata2_1770908975304/work
urllib3==2.6.3
watchdog==6.0.0
xxhash==3.6.0
yarl==1.22.0
